* {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
}
body {
  background-color: black;
}
.main {
  background-image: url("assets/bg.png");
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.main .op_box {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.8) 15%,
    rgba(0, 0, 0, 0.6) 30%,
    rgba(0, 0, 0, 0.6) 45%,
    rgba(0, 0, 0, 0.6) 60%,
    rgba(0, 0, 0, 0.6) 70%,
    rgba(0, 0, 0, 0.8) 85%,
    rgba(0, 0, 0, 0.9) 100%
  );
  position: absolute;
  top: 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 75vw;
  margin: auto;
}
.logo img {
  width: 190px;
  position: relative;
  z-index: 10;
}
nav .nav_button button {
  font-weight: bold;
  background-color: red;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.hero {
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe Ul", Roboto, Ubuntu,
    sans-serif;
  color: white;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 0 20px;
}

.hero span:nth-child(1) {
  margin-top: 70px;
  font-size: 60px;
  text-align: center;
}
.hero span:nth-child(2) {
  font-size: 60px;
  text-align: center;
}
.hero span:nth-child(3) {
  margin: 20px;
  font-size: 20px;
  text-align: center;
}
.hero span:nth-child(4) {
  margin-top: 12px;
  margin-bottom: 20px;
  font-weight: normal;
}
/* .hero span:nth-child(5) {
    
} */

input {
  background-color: transparent;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 4px;
  color: white;
  width: 300px;
  height: 49px;
  padding: 0px 15px;
  font-size: 1.1rem;
}
input::placeholder {
  color: rgb(198, 198, 198);
}
.getbutt {
  width: 200px;
  height: 50px;
  font-size: x-large;
  font-weight: bold;
  background-color: red;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.form-box {
  display: flex;
  column-gap: 10px;
}

@media (max-width: 550px) {
  .form-box {
    flex-direction: column;
    width: 100%;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .form-box input {
    width: 90%;
  }
  .getbutt {
    width: 100%;
    text-align: center;
  }
}

/* Curved Divider */
.curve {
  position: relative;
  z-index: 1;
  bottom: 16px;
  width: 100%;
  height: 16px;
  background: radial-gradient(
    200% 160px at 50% 0%,
    #ff0000 0%,
    #0000ff 40%,
    transparent 70%
  );
  border-top-left-radius: 50% 80px;
  border-top-right-radius: 50% 80px;
  margin-bottom: 50px;
}

/* Whole Section */
.netflix-section {
  position: relative;
  background: #000;
  padding: 80px 20px 40px;
  color: #fff;
  overflow: hidden;
  padding: 0 100px;
  margin-bottom: 80px;
}

.section-title {
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe Ul", Roboto, Ubuntu,
    sans-serif;
  margin-bottom: 20px;
  position: relative;
  left: 20px;
  font-size: 26px;
  font-weight: 600;
}

/* Carousel Container */
.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 60px;
}

/* Carousel Track */
.carousel {
  display: flex;
  gap: 50px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; /* hide scrollbar (Firefox) */
}

.carousel::-webkit-scrollbar {
  display: none; /* hide scrollbar (Chrome, Edge) */
}

.carousel img {
  width: 214px;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s;
  cursor: pointer;
}

.carousel img:hover {
  transform: scale(1.08);
}

/* Arrows */
.arrow {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  color: #fff;
  padding: 12px;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.arrow.left {
  left: 0px;
}
.arrow.right {
  right: 0px;
}

.arrow:hover {
  background: rgba(255, 255, 255, 0.25);
}

/* Responsive Tuning */
@media (max-width: 600px) {
  .carousel img {
    height: 120px;
  }

  .section-title {
    font-size: 22px;
  }
}

.reason {
  margin-bottom: 100px;
  margin: 0 120px;
  margin-bottom: 80px;
}

.reason h2 {
  margin-bottom: 22px;
}

.reason h3 {
  font-size: 22px;
  margin-bottom: 17px;
}

.reason h2,
h3 {
  color: #fff;
  font-weight: bold;
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe Ul", Roboto, Ubuntu,
    sans-serif;
  font-size: 26px;
}
.reason p {
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe Ul", Roboto, Ubuntu,
    sans-serif;
  color: white;
  font-size: 15px;
  font-weight: 500;
  color: rgb(198, 198, 198);
}
.cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding: 0 50px;
  flex-wrap: wrap;
}
.card1,
.card2,
.card3,
.card4 {
  width: 210px;
  height: 275px;
  /* background: linear-gradient(to bottom, #23114e, ); */
  background: linear-gradient(
    to bottom,
    #23114e 30%,
    #23114e 50%,
    #580347 100%
  );
  border-radius: 15px;
}
.card {
  margin: 27px 16px;
}

@media (max-width: 960px) {
  .card1,
  .card2,
  .card3,
  .card4 {
    width: 100vw;
    height: auto;
  }
  .reason {
    margin-bottom: 100px;
    margin: 0 20px;
  }
  .reason h2 {
    font-size: 22px;
    margin-left: 50px;
  }
}
@media (max-width: 490px) {
  .card1,
  .card2,
  .card3,
  .card4 {
    width: 100vw;
    height: auto;
  }
  .reason {
    margin-bottom: 100px;
    margin: 0 5px;
  }
  .reason h2 {
    font-size: 22px;
    margin-left: 50px;
  }
}

.questions {
  margin: 0 170px;
}

.faq h2 {
  font-size: 26px;
  color: white;
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe Ul", Roboto, Ubuntu,
    sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 120px;
}
.faq .questions {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  flex-wrap: wrap;
}
.faq .question {
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe Ul", Roboto, Ubuntu,
    sans-serif;
  font-size: 24px;
  color: white;
  background-color: #2d2d2d;
  border-radius: 2px;
  cursor: pointer;
}
.question p {
  padding: 25px 20px;
}
.question:hover {
  background-color: #ff0000;
}
@media (max-width: 960px) {
  .faq h2 {
    margin-top: 60px;
    font-size: 22px;
    color: white;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe Ul", Roboto, Ubuntu,
      sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 60px;
  }
  .questions {
    margin: 0 80px;
  }
  .faq .question {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe Ul", Roboto, Ubuntu,
      sans-serif;
    font-size: 24px;
    color: white;
    background-color: #2d2d2d;
    border-radius: 2px;
  }
}
@media (max-width: 490px) {
  .faq h2 {
    margin-top: 60px;
    font-size: 20px;
    color: white;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe Ul", Roboto, Ubuntu,
      sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 40px;
  }
  .questions {
    margin: 0 40px;
  }
  .faq .question {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe Ul", Roboto, Ubuntu,
      sans-serif;
    font-size: 20px;
    color: white;
    background-color: #2d2d2d;
    border-radius: 2px;
  }
}

.start {
  margin-bottom: 60px;
}
.start p {
  text-align: center;
  color: white;
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe Ul", Roboto, Ubuntu,
    sans-serif;
  margin-top: 60px;
  margin-bottom: 20px;
}
.start .both {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}
.start input {
  background-color: transparent;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 4px;
  color: white;
  width: 45vw;
  height: 49px;
  padding: 0px 15px;
  font-size: 1.1rem;
}
.start button {
  font-size: 24px;
  font-weight: bold;
  background-color: red;
  color: white;
  border: none;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
@media (max-width: 600px) {
  .start .both {
    display: flex;
    row-gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .start input {
    background-color: transparent;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 4px;
    color: white;
    width: 80vw;
    margin: 0 10px;
    height: 49px;
    padding: 0px 15px;
    font-size: 1.1rem;
  }
}

#random a {
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe Ul", Roboto, Ubuntu,
    sans-serif;
  font-weight: 400;
  color: rgb(179, 179, 179);
  padding-left: 120px;
}
#random {
  width: 100vw;
  margin: 0 20px;
  margin-bottom: 50px;
}

@media (max-width: 960px) {
  #random {
    margin-left: 0px;
    margin: 0 20px;
    margin-bottom: 50px;
  }
  #random a {
    padding-left: 30px;
  }
}

.blocks a {
  color: white;
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe Ul", Roboto, Ubuntu,
    sans-serif;
  font-weight: 400;
  color: rgb(179, 179, 179);
}

.blocks {
  width: 72vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 17px;
  margin-bottom: 50px;
}
/* .b1 {
  grid-row: 1/2;
  grid-column: 1/2;
}
.b2 {
  grid-row: 1/2;
  grid-column: 2/3;
}
.b3 {
  grid-row: 1/2;
  grid-column: 3/4;
}
.b4 {
  grid-row: 1/2;
  grid-column: 4/5;
}
.b5 {
  grid-row: 2/3;
  grid-column: 1/2;
}
.b6 {
  grid-row: 2/3;
  grid-column: 2/3;
}
.b7 {
  grid-row: 2/3;
  grid-column: 3/4;
}
.b8 {
  grid-row: 2/3;
  grid-column: 4/5;
}
.b9 {
  grid-row: 3/4;
  grid-column: 1/2;
}
.b10 {
  grid-row: 3/4;
  grid-column: 2/3;
}
.b11 {
  grid-row: 3/4;
  grid-column: 3/4;
}
.b12 {
  grid-row: 3/4;
  grid-column: 4/5;
}
.b13 {
  grid-row: 4/5;
  grid-column: 1/2;
}
.b14 {
  grid-row: 4/5;
  grid-column: 2/3;
}
.b15 {
  grid-row: 4/5;
  grid-column: 3/4;
} */

@media (max-width: 1010px) {
  .blocks {
    width: 72vw;
    margin: auto;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 17px;
    margin-bottom: 50px;
  }
}

.select {
  width: 100vw;
  padding-left: 140px;
  margin-bottom: 40px;
}

#lang {
  font-size: 16px;
  background: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  padding: 6px 10px;
}

@media (max-width: 960px) {
  .select {
    width: 100vw;
    padding-left: 60px;
    margin-bottom: 40px;
  }
}
@media (max-width: 600px) {
  .select {
    width: 100vw;
    padding-left: 50px;
    margin-bottom: 40px;
  }
}

.pak {
  width: 100vw;
  padding-left: 140px;
  margin-bottom: 40px;
}

.pak p {
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe Ul", Roboto, Ubuntu,
    sans-serif;
  font-size: 16px;
  color: rgb(179, 179, 179);
}

@media (max-width: 960px) {
  .pak {
    width: 100vw;
    padding-left: 60px;
    margin-bottom: 40px;
  }
}
@media (max-width: 600px) {
  .pak {
    width: 100vw;
    padding-left: 50px;
    margin-bottom: 40px;
  }
}

#learn {
  width: 100vw;
  margin: 0 auto;
  margin-bottom: 150px;
}

.learn-text {
  color: gray;
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe Ul", Roboto, Ubuntu,
    sans-serif;
  font-size: 14px;
  max-width: 100%;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  padding-left: 140px;
}

.learn-text a {
  color: #4e8cff; /* just example color */
}

@media (max-width: 960px) {
  .learn-text {
    padding-left: 60px;
  }
}
@media (max-width: 600px) {
  .learn-text {
    padding-left: 50px;
  }
}
